<h1>Galp천es & Estoque</h1>

<% @warehouses.each do |warehouse|%>
  <%= warehouse.name %>
  <%= warehouse.code %>
  <%= warehouse.city %>
  <%= warehouse.area %>
<% end %>

<% if @warehouses.any? %>
  <p>Galp찾o cadastrado com sucesso!</p>
<% else %>
  <p>N찾o existem galp천es cadastrados.</p>
<% end %>